.container {
  /* margin-inline: auto;
  padding-inline: 1rem; */
  width: 100%;
  max-width: 1016;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1016) {
  .container {
    padding: 0px 24px;
  }
}