.container {
  /* margin-inline: auto;
  padding-inline: 1rem; */
  width: 100%;
  max-width: 1178.18px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1178.18px) {
  .container {
    padding: 0px 20px;
  }
}
