@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  /* margin-inline: auto;
  padding-inline: 1rem; */
  width: 100%;
  max-width: 1280;
  margin-left: auto;
  margin-right: auto;
}

.container-lg {
  width: 100%;
  max-width: 1128;
  margin-left: auto;
  margin-right: auto;
}

.container-lg05 {
  width: 100%;
  max-width: 1062;
  margin-left: auto;
  margin-right: auto;
}

.container-2md {
  /* margin-inline: auto;
  padding-inline: 1rem; */
  width: 100%;
  max-width: 846;
  margin-left: auto;
  margin-right: auto;
}

.swiper-container {
  /* margin-inline: auto;
  padding-inline: 1rem; */
  width: 100%;
  max-width: 1280;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1280) {
  .container {
    padding: 0px 24px;
  }
  .swiper-container {
    padding: 0px 24px;
  }
}

@media (max-width: 1128) {
  .container-lg {
    padding: 0px 24px;
  }
}

@media (max-width: 1062) {
  .container-lg05 {
    padding: 0px 24px;
  }
}

@media (max-width: 768) {
  .swiper-container {
    padding-right: 0px;
  }
}

@media (max-width: 846) {
  .container-2md {
    padding: 0px 24px;
  }
}

.limitText3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.limitText2To7 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.limitText1To2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

@media (max-width: 768) {
  .limitText1To2 {
    -webkit-line-clamp: 2;
  }
  .limitText2To7 {
    -webkit-line-clamp: 7;
  }
}

.ant-dropdown-menu{
  max-height: 300px;
}