@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  /* margin-inline: auto;
  padding-inline: 1rem; */
  width: 100%;
  max-width: 1178.18px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1178.18px) {
  .container {
    padding: 0px 20px;
  }
}
.fsf {
  /* background-image: url("./images/Background 1.svg"); */
  background-size: cover;
}
.fsf_blur {
  background: rgba(243, 244, 246, 0.72);
  backdrop-filter: blur(1000px);
}
