.banner-swiper .swiper-pagination {
  display: flex;
  justify-content: end;
  padding: 0px 20px 30px 0px;
  opacity: 1;
}
.banner-swiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: white;
  color: white;
  align-items: center;
  justify-content: center;
  border-radius: 26px;
  transition: 0.3s;
  opacity: 1;
}

.banner-swiper .swiper-pagination-bullet-active {
  background: #0791bb;
  color: #0791bb;
  width: 50px;
  border-radius: 26px;
  /* color: #315266, #3a6178, #3980A0, #619ABC, #0791BB */
  opacity: 1;
}

@media (max-width: 768px) {
  .banner-swiper .swiper-pagination {
    padding: 0px 0px 3.5px 0px;
    justify-content: center;
    /* margin-bottom: -50px; */
  }
}
/* 
.blue-banner-swiper .swiper{
  overflow: auto;
  position: relative;
} */

.blue-banner-swiper .swiper-pagination {
  /* position: absolute; */
  /* bottom: 0px; */
  display: flex;
  justify-content: center;
  padding: 0px 0px -10px 0px;
  opacity: 1;
  gap: 24px;
  z-index: 10;
}

.blue-banner-swiper .swiper-pagination-bullet {
  width: 246px;
  height: 70px;
  padding: 16px;
  line-height: 100%;
  background: #f5f5f5;
  color: #8c8c8c;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  transition: 0.3s;
  font-size: 16px;
  opacity: 1 !important;
}

.blue-banner-swiper .swiper-pagination-bullet-active {
  background: #bbdbe6;
  color: #3980a0;
  width: 246px;
  /* color: #315266, #3a6178, #3980A0, #619ABC, #0791BB */
}

@media (max-width: 768px) {
  .blue-banner-swiper .swiper-pagination {
    padding: 0px 0px 3.5px 0px;
    justify-content: center;
    /* margin-bottom: -50px; */
    gap: 4px;
  }

  .blue-banner-swiper .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    opacity: 1;
    background: #d9d9d9;
    overflow: hidden;
    padding: 0;
    color: rgba(0, 0, 0, 0);
    border-radius: 4px;
  }

  .blue-banner-swiper .swiper-pagination-bullet-active {
    background: #3980a0;
    width: 32px;
  }
}
