.banner-swiper .swiper-pagination {
  display: flex;
  justify-content: end;
  padding: 0px 20px 30px 0px;
  opacity: 1;
}
.banner-swiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: white;
  color: white;
  align-items: center;
  justify-content: center;
  border-radius: 26px;
  transition: 0.3s;
  opacity: 1;
}

.banner-swiper .swiper-pagination-bullet-active {
  background: #0791bb;
  color: #0791bb;
  width: 50px;
  border-radius: 26px;
  /* color: #315266, #3a6178, #3980A0, #619ABC, #0791BB */
  opacity: 1;
}

@media (max-width: 768px) {
  .banner-swiper .swiper-pagination {
    padding: 0px 0px 3.5px 0px;
    justify-content: center;
    /* margin-bottom: -50px; */
  }
}